* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    position: relative;
     box-sizing: border-box;
     font-family: Arial;
}

a,
a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul {
    list-style: none;
}

:root {
    --back_color: rgb(255, 255, 255);
}

/* top label header open */
.topLabel {
    background-color: black;
}

.topLabel ul {
    display: flex;
    justify-content: flex-end;
}

.topLabel ul li a {
    color: white;
}

/* top label header close */

/* header open */
#header{
  z-index: 1000;
}
.headerLogo img {
    height: 50px !important;
}
.scrol{
  top: 0;
  transition: top 3s;
  z-index: 100;
  position: fixed;
  transition: 0.5s;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #000;
  transition: width 0.5s ease-in-out;
}

.cool-link:hover::after {
  width: 100%;
}


/* header close */

/* ourCollection_hover open */


.ourCollection_hover .figure img {
    height: 400px;
    width: auto;
}
@media (max-width:1600px){
  .ourCollection_hover .figure img{
    height: 350px;
  }}
  @media (max-width:1400px){
    .ourCollection_hover .figure img{
      height: 300px;
    }
  }
  @media (max-width:1200px){
    .ourCollection_hover .figure img{
      height: 250px;

    }
  }
  @media (max-width:1000px){
    .ourCollection_hover .figure img{
      height: 230px;
    }
  }
  @media (max-width:930px){
    .ourCollection_hover .figure img{
      height: 200px;
    }
  }
  @media (max-width:766px){
    .footer-section{
      margin-bottom: 30px;
    }
  }
/* ourCollection_hover close */

.ourCollection_item {
    margin: auto 20px;
}

.ourCollection_hover {
    flex-direction: row;
    display: flex;
    overflow: auto;
}

.ourCollection_hover::-webkit-scrollbar {
    display: block;
    scroll-behavior: auto;
}

.ourCollection_headline {
    font-size: 30px;
    border-bottom: 1px solid rgb(207 207 207 / 38%);
    margin: auto auto 0px 34px;
}

.ourCollection_sm_text {
    background-color: rgb(0, 0, 0);
    color: white;
}

.ourCollection_sm_text ul li a{
  color: white;
}

.our_collection_hoverList{
 
  margin: auto 2px;
}
.ourCollection_div {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    padding: 30px 0px 0px 0px;
    z-index: 999;
    transition: .5s ease
    
}

.ourCollection_images {
    padding: 30px 0px 0px 0px;
    box-shadow: 1px 1px 20px 6px #65645d1f;
    background: white;

}
.ourCollection_hover .card{
  --bs-card-border-width: 0px;
}
.ourCollection_hover .card .card-body{
  bottom: 3px;
  color: white;
  font-size: 20px;
}
.ourCollection:hover .ourCollection_div {
    display: block;
}


.text-justify {
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 0.7px;
}

/* ourCollection_hover close */

/* Our collection */
 .cards{
    display: flex;
    align-items: center;
    justify-content: center;
 
    
  }

  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* overlay */
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
  }
  .img {
    position: relative;
    width: 100%;
  }
  
  .image {
    position: relative;
    /* height: 600px; */
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color:#000000a8;
    overflow: hidden;
    width: 0px;
    height: 100%;
    transition: .5s ease;
  }
  
  .image:hover .overlay {
    width: 100%;
  }
  .btn-outline-primary {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(0, 0, 0, 0.266);
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
    border-radius: 0px;
  }
  .text {
    color:white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
   /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1114px) {
    .col {
     width: 100%;
      

    }

  }
  
/* our collection */

.footer-section {
    position: relative;
    background-color: black;
    color: white;
    bottom: 0;
}

.footer_logo{
  height: 70px;
}


.header {
  text-align: center;
  padding: 32px;
}

.our_collection_toggle{
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
  top: 0;
  display: none;
  bottom: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.toggle_div{
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.our_collection_toggle .toggle_div ul{
  border-radius: 10px;
  font-size: 18px;
}
.toggle_display{
  display: flex !important;
}
.footer_bar{
  bottom: 0;
  z-index: 100;;

}



/* catageoey sections */

/* catageory_items open */
.catageory_title{
  letter-spacing: 2px;
}
.sql_tag {
  position: absolute;
  right: 15px;
  top: 15px;
}
.sql_tag p{
  background-color: rgba(255, 255, 255, 0.749);
}
/* catageory items close */
.footer-section {
  position: relative;
  background-color: black;
  color: white;
  bottom: 0;
}
.footer_logo{
  height: 70px;
}